@import "tailwindcss";

body {
  margin: 0;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensure text is selectable on iOS Safari and remove tap delay */
article {
  -webkit-user-select: text;
  user-select: text;
  touch-action: manipulation;
}
